*,
*::before,
*::after {
  box-sizing: border-box;
}

body,a,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}

.main {
  background-color: #23252C;  
  height: 100vh;
}
.container {
  padding-top: 45px ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 317px;
  margin: 0 auto;
}

.photo {
  width: 317px;
  border-radius: 10px 10px 0px 0px;
}

.contant {
  background-color: #1A1B21;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.contant_header {
  text-align: center ;
}

.contant_header > h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding-top: 5px;
}

.contant_header > h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  color: #F3BF99;
  padding-top: 5px;
}

.contant_header > h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  padding-top: 5px;
}

.contant_body > h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
}

.contant_body {
  margin: 0 35px;
}

.contant_body > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #DCDCDC;
  margin-bottom: 25px;
}

.Footer {
  background-color: #161619;
  height: 64px;
  width: inherit;
  border-radius: 0px 0px 10px 10px;
}

.networks ul{
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.networks ul li {
  list-style: none;
}

.networks ul li a{
  color: #918E9B;
  font-size: 30px;
}